In [1]:
import sys
print(sys.executable)

C:\Users\Admin\projects\credit_risk_score\credit-risk-scoring\venv\Scripts\python.exe

In [2]:
import pandas as pd
df = pd.DataFrame({
    "loan_id":[1,2,3,4,5],
    "age":[34,45,23,51,39],
    "income":[45000,60000,32000,80000,52000],
    "days_past_due":[0,30,0,60,15],
    "default":[0,1,0,1,0]
})
print("Shape", df.shape)

Shape (5, 5)

In [3]:
display(df.head())

   loan_id  age  income  days_past_due  default
0        1   34   45000              0        0
1        2   45   60000             30        1
2        3   23   32000              0        0
3        4   51   80000             60        1
4        5   39   52000             15        0

In [4]:
print("defaults count:\n", df["default"].value_counts())

defaults count:
 default
0    3
1    2
Name: count, dtype: int64