In [1]:
import os
print("notebook working directory:", os.getcwd())

notebook working directory: C:\Users\Admin\projects\credit_risk_score\credit-risk-scoring\notebooks

In [2]:
print("Notebook file exist in repo folder? ->", os.path.exists("notebooks/01_EDA.ipymb"))

Notebook file exist in repo folder? -> False

In [3]:
print("Notebook file exist in repo folder? ->", os.path.exists("01_EDA.ipynb"))

Notebook file exist in repo folder? -> True

In [4]:
print("Current working directory:", os.getcwd())

Current working directory: C:\Users\Admin\projects\credit_risk_score\credit-risk-scoring\notebooks

In [5]:
print("list files here:", os.listdir(".")[:40])

list files here: ['.ipynb_checkpoints', '01_EDA.ipynb', '02_EDA.ipynb']

In [6]:
import shutil

In [7]:
src = r"C:\Users\Admin\projects\credit_risk_score\credit-risk-scoring\data\sample.csv"
dst = os.path.join(os.getcwd(), "data", "sample.csv")

In [8]:
os.makedirs(os.path.dirname(dst), exist_ok=True)

In [9]:
shutil.copy2(src, dst)

'C:\\Users\\Admin\\projects\\credit_risk_score\\credit-risk-scoring\\notebooks\\data\\sample.csv'

In [10]:
print("copied to:", dst)

copied to: C:\Users\Admin\projects\credit_risk_score\credit-risk-scoring\notebooks\data\sample.csv

In [12]:
import pandas as pd
df = pd.read_csv("data/sample.csv")
df.head()

,loan_id,age,income,months_on_file,num_past_dues,days_past_due,credit_utilization,default
0,1,34,45000,24,0,0,0.12,0
1,2,45,60000,60,1,30,0.70,1
2,3,23,32000,6,0,0,0.10,0
3,4,51,80000,72,2,60,0.85,1
4,5,39,52000,36,0,15,0.30,0

In [13]:
df.columns

Index(['loan_id', 'age', 'income', 'months_on_file', 'num_past_dues',
       'days_past_due', 'credit_utilization', 'default'],
      dtype='object')

In [15]:
from pathlib import Path
DATA_PATH = Path("data") / "sample.csv"
df = pd.read_csv(DATA_PATH)
df.head()

,loan_id,age,income,months_on_file,num_past_dues,days_past_due,credit_utilization,default
0,1,34,45000,24,0,0,0.12,0
1,2,45,60000,60,1,30,0.70,1
2,3,23,32000,6,0,0,0.10,0
3,4,51,80000,72,2,60,0.85,1
4,5,39,52000,36,0,15,0.30,0

In [16]:
print("rows, columns:", df.shape)

rows, columns: (10, 8)

In [18]:
print(df.dtypes)

loan_id                 int64
age                     int64
income                  int64
months_on_file          int64
num_past_dues           int64
days_past_due           int64
credit_utilization    float64
default                 int64
dtype: object

In [19]:
missing = df.isna().mean().sort_values(ascending=False)
print(missing.head(20))

loan_id               0.0
age                   0.0
income                0.0
months_on_file        0.0
num_past_dues         0.0
days_past_due         0.0
credit_utilization    0.0
default               0.0
dtype: float64